<div class="container text-center">
  <h1 id="articles-index-title">Articles listing page</h1>
</div>
<div class="flickr_pagination mb-4">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles', obj: @articles%>
<div class="flickr_pagination mb-4">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
</div>
<p class="text-center">
  <%= link_to 'Create article', new_article_path, class:"btn btn-primary" %>
</p>