<div class="contaner text-center">
  <h1 class="text-center"><%= @user.username %>'s profile </h1>
  <%= gravatar_for @user, size: 200 %>
  <% if logged_in? && current_user.admin? %>
    <%= link_to 'Edit user profile', edit_user_path(@user), class: "btn btn-outline-primary mt-3" %>
    <%= link_to 'Delete user profile', user_path(@user),class: "btn btn-outline-danger mt-3", data: {"turbo-method": :delete, "turbo-confirm":"are you sure ?"} %>
    <div class="mt-3">
      <%= link_to 'User ID table', ident_path, class: "btn btn-outline-primary mt-3" %>
    </div>
  <% end %>
   <% if @user_articles.count != 0 %>
  <div class="container text-center mt-4">
    <h1>Articles of <%= @user.username %> </h1>
  </div>
    <div class="flickr_pagination mb-4">
      <div class="page_info">
        <%= page_entries_info @user_articles %>
      </div>
      <%= will_paginate @user_articles, :container => false %>
    </div>
  
    <%= render 'articles/articles', obj: @user_articles%>
    <div class="flickr_pagination mb-4">
      <div class="page_info">
        <%= page_entries_info @user_articles %>
      </div>
      <%= will_paginate @user_articles, :container => false %>
    </div>
  <% end %>
</div>